<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331084011346-nidnamqfegpjqsb1qd5eeanehfr235nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331084011346-nidnamqfegpjqsb1qd5eeanehfr235nj</string>
	<key>API_KEY</key>
	<string>AIzaSyBu2Lt2W6fCCgm9YCEEzDzsWCSRueBj_tY</string>
	<key>GCM_SENDER_ID</key>
	<string>331084011346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationHoroscope</string>
	<key>PROJECT_ID</key>
	<string>horoscope-89ef4</string>
	<key>STORAGE_BUCKET</key>
	<string>horoscope-89ef4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331084011346:ios:b0598b5ee5ba70e63b4c8b</string>
</dict>
</plist>